.header {
	display: block;
}

.header h1, img, p {
	margin-bottom: 0;
	margin-top: 0;
}

.header div {
	display: flex;
	position: relative;
	vertical-align: bottom;
}

.header img, p {
	max-height: 14px;
	align-self: flex-end;
	font-size: 14px;
	margin-left: 5px;
}

/* .header div img {
	position: absolute;
} */